html{
    box-sizing: border-box;
}

body{
    font-family:"Roboto", sans-serif;
    /*font-family: "Montserrat", sans-serif;*/
 margin: 0;
 padding: 0;
 font-size: 16px;
 line-height: 1.5;
 font-weight: 400;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}

button{
    background-color: transparent;
    padding: 0;
    border: none;
}

.container{
    max-width: 1720px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.section-box{
    padding: 150px 0;
}
.section__title{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 42px;
    line-height: 1.16;
    margin-bottom: 55px;
}
.header{
    background-image: url(image/Background.jpg);
    background-image: image-set(
        'image/background.avif' type('image/avif')
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #f5f5f5;
}

.header__top{
    padding: 64px 0;
    display: grid;  
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-weight: 300;
}

.menu{
    justify-self: start;
}

.menu__btn{
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 24px;
    position: relative;
    z-index: 10;
 }

 .menu__btn::after,
 .menu__btn::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #f5f5f5;
 }
 .menu__btn::after{
    top: 0;
 }

 .menu__btn::before{
    bottom: 0;
 }

.menu__btn span{
    height: 2px;
    background-color: #f5f5f5;
    width: 100%;
}
.logo{
    justify-self: center;
}
.header__phone{
    justify-self: end;
    align-items: center;
    gap: 10px;
}
.menu__list{
    display: flex;
    gap: 40px;
    text-transform: uppercase;
 
}

.header__title{
    max-width: 835px;
    padding-top: 100px;
    margin-bottom: 30px;
    font-size: 85px;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 400;
}

.header__text{
    max-width: 758px;
    font: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.header__btn{
display: inline-block;
text-transform: uppercase;
font-size: 18px;
line-height: 1.16;
font-weight: 300;
color: #2b2b2b;
padding:20px 49px;
background-color: #f5f5f5;

}

.services{
    background-color: #171717;
    color: #f5f5f5;
}

.services__list{
 border-top: 1px solid #f5f5f5;
}
.services__item{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
padding: 24px 0;
border-bottom: 1px solid #f5f5f5;
padding-right: 44px;
}

.services__item-title{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 300;
}
.services__item-text{
max-width: 800px;
width: 100%;
}


.project__item{
    border: 1px solid #d9d9d9;
    padding: 10px;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;

}

.project__item img{
    width: 100%;
    height: auto;
}

.projects__item-link{
    width: 260px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 18px;
    
    border: 1px solid #2b2b2b;
}

.project__slider{
    padding-bottom: 50px;
}

.projects__arrow{
    cursor: pointer;
    position: absolute;
    bottom: -5px;
    left: 50%;
}


.projects__arrow-prev{
   transform: translateX(-75px);
}


.projects__arrow-next{
   transform: translateX(15px);
}




.steps{
 padding: 60px 0 100px;
 background-color: #171717;
 color: #f5f5f5;
 display: flex;
}
.steps__title{
 max-width: 562px;
}   
.steps__list{
 max-width: 562px;
 list-style: none;
 counter-reset: my-counter;
}
.steps__item{
 position: relative;
 counter-increment: my-counter;
 padding-left: 57px;
 padding-bottom: 40px;
}
.steps__item:last-child{
    padding-bottom: 0;
}
.steps__item:last-child::after{
    display: none;
}
.steps__item::before{
content: counter(my-counter);
position: absolute;
width: 40px;
height: 40px;
border: 1px solid #f5f5f5;
font-family: "Montserrat", sans-serif;
font-size: 15px;
font-weight: 600;
display: flex;  
align-items: center;
justify-content: center;
left: 0;
}
.steps__item::after{
    content: '';
    position: absolute;
    width: 1px;
    background-color: #f5f5f5;
    left: 20px;
    top: 48px;
    bottom: 8px;

}
.steps__item-title{
font-size: 24px;
line-height: 1.16;
font-weight: 300;
margin-bottom: 12px;
padding-top: 6px;
}

.steps-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}









@media (max-width:1300px) {
.menu__btn{
    display: flex;
}
.menu__list{
    position: absolute;
    inset: 0;
    background-color: #171717;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-100%);
    transition: transform.3s ease-in-out;
}
.menu__list.active{
    transform: translate(0);
}
.services__item{
    display: block;
    padding-right: 0;
}
.steps{
    display: block;
}
.steps__list{
    padding-bottom: 40px;

}
}

@media (max-width:740px) {
  .header__top{
    padding: 40px 0;
  }
  .header__title{
    padding-top: 75px;
    font-size: 64px;
  }
  .section-box{
    padding: 50px 0;
  }
  .section__title{
    margin-bottom: 20px;
    font-size: 28px;
  }
  .services__item{
    padding: 10px 0;
  }
  .services__item-title{
    font-size: 20px;
  }
  .steps{
    padding: 50px 0;
  }
}
@media (max-width:540px){
    .header__phone span{
        display: none;
    }
    .header__phone{
        width: 24px;
    }
    .header__title{
        padding-top: 50px;
        font-size: 44px;
    }
    .header__text{
        font-size: 22px;
    }
    .header__btn{
        font-size: 16px;
        padding: 16px 49px;
    }
    .steps__item::before{
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
    .steps__item::after{
        left: 10px;
        top: 28px;
        bottom: 10px;
    }
    .steps__item{
        padding-left: 40px;
        padding-bottom: 20px;
    }
    .steps__item-title{
        font-size: 20px;
        padding-top: 0;
        margin-bottom: 5px;

    }
}